<div class="container-fluid">
  <h1>Hello Player 1!</h1>
  <h2>Game</h2>
  <div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-1" style="background-color: <%= @game[:result][0] %>">
      @
    </div>
    <div class="col-md-1" style="background-color: <%= @game[:result][1] %>">
      @
    </div>
    <div class="col-md-1" style="background-color: <%= @game[:result][2] %>">
      @
    </div>
    <div class="col-md-1" style="background-color: <%= @game[:result][3] %>">
      @
    </div>
  </div>
  <% if @game[:message] %>
    <h2><%= @game[:message] %></h2>
  <% end %>
  <h2>Your account: <%= @user.account %></h2>
  <h2>Bank total: <%= @bank.total %></h2>
  <%= button_to 'Play', games_path %>
</div>
